/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  color: $grey;
  font-size: 12px;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: $red;

  img {
    width: 43px;
    height: 43px;
  }
}

nav {
  width: 900px;
  background-color: $red;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      a {
        background-color: white;
        border-radius: 4px;
        color: $grey;
        font-weight: 700;
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
        position: relative;
        -webkit-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -moz-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -ms-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -o-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

        &:hover {
          color: $light-grey;
          -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
        }

        &:active {
          background-color: $light-grey;
          color: white;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

#root {
  height: calc(100% - 70px);
  padding-top: 20px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: $black;
}

.content {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
}
.poke-list {
  display: flex;
  overflow: scroll;
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 200px;
    padding: 0;
    li {
      padding: 5px 10px;
      border-top: 1px solid grey;
      color: black;
    }

    li:last-of-type {
      border-bottom: 1px solid grey;
    }

    a {
      text-decoration: none;
      color: black;
      width: 100%;
      span {
        min-width: 30px;
        display: inline-block;
        padding: 5px;
      }
    }


    li > * {
      margin-left: 10px;
    }

    li:hover {
      background-color: gray;
      cursor: pointer;
    }
  }
}
.main-view {
  display: flex;
  background-color: grey;
  padding: 50px;
  border: 4px solid black;
  flex: 1;
  margin: 25px;
  overflow-y: scroll;
}

.list-image {
  max-height: 20px;
  max-width: 20px;
}

.content-image {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  border: 3px solid black;
  border-radius: 15px;
  background: linear-gradient(to bottom right, cyan, blue);
  max-height: 400px;
  img {
    width: 100%;
    max-height: 380px;
  }
}

.detail-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.detail-title-bar {
  width: 88%;
  margin: 0 auto;
  color: black;
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
  span {
    background: linear-gradient(to bottom right, cyan, blue);
    border: 3px solid black;
    border-radius: 15px;
    padding: 8px;
  }
}

.detail-title, .left {
  float:left;
}

.hp, .right {
  float:right;
}

figcaption {
  color: black;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}
.moves {
  list-style: none;
  width: 85%;
  background-color: blue;
  border: 3px solid black;
  border-radius: 15px;
  padding: 8px;
  margin: 15px auto;
  color: black;
  li {
    background-color: cyan;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 15px;
    border: 2px solid black;
  }
  li:last-of-type {
    margin-bottom: 0
  }
  li:first-of-type {
    background: transparent;
    border: none;
    border-radius: 0;
    font-weight: bold;
    color: white;
    font-size: 24px;
    border-bottom: 2px solid white;
    padding-left: 0;
    font-family: fantasy;

  }
  span {
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
  }
  li:after {
    content: "";
    display: block;
    clear: both;
  }
}

.item-window {
  background: linear-gradient(to bottom right, darkgrey, white);
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    // background: linear-gradient(to bottom right, white, grey);
    li {
      padding: 5px;
      display: flex;
      flex: 1;
      background-color: rgba(0,0,255, .15);
      margin: 5px;
      cursor: pointer;
    }
    li:hover {
      background-color: rgba(0,0,255, .3);
    }
  }
  img {
    min-height: 100px;
  }
}
